.listOfLessons {
  max-width: 414px !important;
  max-height: 736px !important;
  height: 90vh;
  width: 100vw;
  background-image: url("/images/screenbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.1px solid #26262e;
  background-color: #26262e;

  .list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0 1em !important;
    max-height: 20em !important;
  }
  h2 {
    color: #fff;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 5em;
  }

  #listOfLessonsGroup {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid;
    max-width: 100%;
    width: 80%;
    margin: 10%;
    padding: 1em;
    border-radius: 4%;
    max-height: 95vh;
    margin-top: 10%;
    color: #000;
    -webkit-box-shadow: -1px 4px 26px 11px #c09fed;
    -moz-box-shadow: -1px 4px 26px 11px #c09fed;
    box-shadow: -1px 4px 26px 11px #c09fed;

    .list-group-item {
      position: relative;
      display: block;
      padding: 0.75rem 1.25rem;
      background-color: transparent;
      //border: 1px;
      border: none;

      p {
        text-decoration: none;
        color: black;
        padding: none;
        margin: none;
      }
    }
  }
}
