.chat-container {
  max-width: 414px !important;
  max-height: 736px !important;
  height: 90vh;
  width: 100vw;
  background-image: url("/images/screenbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.1px solid #26262e;
  background-color: #26262e;
  display: flex;
  flex-direction: column;

  .list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0 1em !important;
    max-height: 25em !important;
  }



  .chat-title {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0.5em;
  }

  .chat-details-container {
    margin: 20px;
  }

  .toast {
    margin: 10px;
  }

  .chat-input-area {
    border: none;
    width: 414px;
    max-width: 414px !important;
    position: absolute;
    bottom: 0;
    right: 1em;

    right: 0;
    padding: 10px;
  }

  .chat-send-button {
    background-color: purple;
    border: none;
    border-radius: 2px;
    padding: 10px;

    margin: 10px;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 7px;
  }
}

.chat-info-box {
  border-radius: 3px;
  width: 0 auto;
  height: 0 auto;
  display: flex;
  color: white;
  font-size: 16px;
  margin-bottom: 8em;
}

ion-icon {
  color: white;
  font-size: 2em;
  margin-left: 4em;
}

.homework-text {
  color: white;
  margin-bottom: 2em;
}

img {
  width: 5em;
  height: 5em;
}

