.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0 1em !important;
    max-height: 25em !important;
  }

.chat-container {
    display: flex;
    flex-direction: column;

    .chat-title {
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 0.5em;
        // box-shadow: -1px 15px 14px -7px rgba(0,0,0,0.50);
    }
    
    .chat-details-container{
    margin: 20px;
    }
    
    .toast {
        margin: 10px;
    
    }
    
    .chat-input-area {
        border: none;
        width: 100%;
        position: absolute;
        margin-top: 10px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
    }
    
    .chat-send-button {
        background-color: purple;
        border: none;
        border-radius: 2px;
        padding: 10px;
        position: absolute;
        margin: 10px;
        color: white;
        right: 0;
        bottom: 0;
    }
    
    .chat-info-box {
        border-radius: 3px;
        width: 0 auto;
        height: 0 auto;
        display: flex;
        color: white;
        font-size: 16px;
        margin-bottom: 8em;
        
    }
    
    ion-icon{
        color: white;
        font-size: 2em;
      margin-left: 4em;
    }
    
    .homework-text {
        color: white;
        margin-bottom: 2em;
    }
    
    img {
        width: 5em;
        height: 5em;
    }
}

