.main-div-container-student {
  display: flex;
  flex-direction: column;
  max-width: 414px !important;
  max-height: 736px !important;

  .lesson-info-box {
    border-radius: 5px;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px -1px 15px 0px rgba(0, 0, 0, 0.4);

    h4 {
      margin: 10px;
    }

    p {
      margin: 10px;
    }
  }

  .lesson-status-info {
    margin: 10px;
    text-align: center;
    color: white;
  }
  button {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    border: none;
    color: white;
    background-color: #7c45c7;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .location-box {
    border-radius: 5px;
    margin-top: 8em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px -1px 15px 0px rgba(0, 0, 0, 0.4);
  }

  .chat-bubble {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;

    ion-icon {
      font-size: 5em;
      color: #7c45c7;
    }
  }
}
